<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/estilo.css') }}">
    <title>Crear</title>
</head>
<body>
    <div class="centrar">
        <a href="/">Volver</a>
        <form action="/guardar" method="post"enctype="multipart/form-data" >   
            
            <input       
            type="text"            
            name="nombre"
            placeholder="Nombre"
            id="nombre"
            />    
            
            <input        
            type="text"
            name="email"
            placeholder="E-mail"
            id="email"
            />

            <input        
            type="file"
            name="imagen"
            id="imagen"
            />

            <button type="submit">
                Aceptar
            </button>  
            
            
        </form>
    </div>
    </body>
    </html>