<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/estilo.css" rel="stylesheet" type="text/css" />
    <title>Crear</title>
</head>
<body>
    <div class="centrar">

        <form action="/crear" method="post" class="text-center">   
            
            <input                   
            name="Nombre"
            placeholder="Nombre"
            />    
            
            <input        
            type="email"
            name="email"
            placeholder="E-mail"
            />
            <button type="submit">
                Aceptar
            </button>  
            
            
        </form>
    </div>
    </body>
    </html>